h1{
    color: rgb(203, 57, 57);
    height:30px;
}
.btn_social{
    background-color: rgb(78, 116, 253);
    color:white;
    height: 40px;
    width: 100px;
    border-color: rgb(78,116, 255);
    border-radius:15px;
    border-width: 2px;
    font-size: 18px;
    transition: opacity 0.5s;
    cursor: pointer;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.btn_social:hover{
    opacity: 0.8;
    box-shadow: 4.5px 3px 4px rgba(2, 57, 255,0.4);
    transition: box-shadow 0.4s;
}
.btn_social:active{
    background-color: rgb(66, 111, 194);
}
audio { 
    width: 300pxpx; 
    height: 40px;
    border-radius: 90px;
    transform: scale(1.05);
    color: aqua;
    margin: 10px;
  }
  audio:hover{
    box-shadow: 4px 5px 10px rgba(0,0, 0, 0.5);
    transition:box-shadow 0.5s, opacity 0.5s;
    opacity: 0.8;

  }
