h1{
    color: rgb(203, 57, 57);
    height:30px;
}
button{
    background-color: rgb(78, 116, 253);
    color:white;
    height: 40px;
    width: 100px;
    border-color: rgb(78,116, 255);
    border-radius:15px;
    border-width: 2px;
    font-size: 18px;
    transition: opacity 0.5s;
    cursor: pointer;
    margin: 10px;
}
button:hover{
    opacity: 0.6;
    box-shadow: 5px 4px 4px rgba(2, 57, 255,0.3);
    transition: box-shadow 0.5s;
}
button:active{
    background-color: rgb(139, 172, 234);
}
audio { 
    width: 300pxpx; 
    height: 40px;
    border-radius: 90px;
    transform: scale(1.05);
    margin: 10px;
  }
  audio:hover{
    box-shadow: 4px 5px 10px rgba(0,0, 0, 0.5);
    transition:box-shadow 0.5s, opacity 0.5s;
    opacity: 0.8;

  }
